/*
 * CSS Flower - By Ildar Sagdejev ( http://webninja.io )
 */

@require 'nib/vendor'
@require 'flower-config'

//
// Glass cover
//

.glass
  background-image radial-gradient(circle closest-side, rgba(38, 38, 38, 0.2), rgba(0, 0, 0, 0.63))
  background-size 100% 100
  border-radius 50%
  position relative
.glass::before
  position absolute
  width 56%
  height 26%
  top 4%
  left 22%
  border-radius 50%
  background-image linear-gradient(to bottom, rgba(207, 207, 207, 0.23), rgba(30, 30, 30, 0.06))
  content ''
.glass::after
  position absolute
  width 38%
  height 19%
  bottom 3%
  left 31%
  border-radius 50%
  background-image linear-gradient(to bottom, rgba(93, 93, 93, 0.1), rgba(0, 0, 0, 0.18))
  content ''

//
// Interactive spinner
//

.flower
  width flower-item-diameter
  height flower-item-diameter
  border-radius 50%
  cursor pointer
  position relative
  .spinner, .inner, .counterspin, .glass-holder
    height 100%
  .spinner
    animation spin flower-revolution-time infinite linear
  .counterspin
    animation counter-spin flower-revolution-time infinite linear
  .cover
    width flower-item-diameter
    height flower-item-diameter
    background-color #666
    background-size 100%
    border-radius 50%
    box-shadow \
      0 0 2px 4px #d1d1d1, \
      0 0 20px 4px black
    position absolute
    top 0
  a
    display block
  .child
    width flower-item-diameter
    height flower-item-diameter
    border-radius 50%
    position absolute
    top 0
    visibility hidden
    .leaf
      height 100%
      color white
      background-size 100%
      border-radius 50%
      opacity 0.94
      transition transform flower-unfolding-time ease-in-out
      img
        width flower-icon-size
        height flower-icon-size
        left ((flower-item-diameter - flower-icon-size) / 2)
        top ((flower-item-diameter - flower-icon-size) / 2)
        position absolute
        border none
    rot-delta = 360 / flower-item-count
    for c, i in flower-item-colors
      &:nth-child({i+1})
        rot = (rot-delta * i - 90)
        transform rotate((rot)deg)
        transition visibility flower-unfolding-time linear
        .leaf
          background-color c
          transition transform flower-unfolding-time ease-in-out
          .glass-holder
            transform rotate(-(rot)deg)
  .glass
    height 100%
    transition transform flower-unfolding-time ease-in-out
  &:hover, &.open
    grow-ratio = 1 + 2 * flower-item-orbit-radius
    transform scale(grow-ratio) // zoom click area
    .inner
      transform scale(1 / grow-ratio) // but do not zoom internal elements
    .child
      visibility visible
    .leaf
      // Expand
      rot = flower-unfolding-icon-tumbles * 360 + 90
      transform rotate(flower-unfolding-swirl) translateX(flower-item-diameter * flower-item-orbit-radius) rotate((rot)deg)
      &:hover
        box-shadow 0 0 13px #d3d9ff
        &:after
          content attr(data-title)
          color #aebaff
          font 14px Monaco, MonoSpace
          text-shadow 2px 2px 3px black
          width 100%
          height 22px
          left 0
          top -(@height + 1px)
          position absolute
      .glass
        // Keep the glass cover stationary
        transform rotate((-1 * (flower-unfolding-swirl + rot))deg)
@keyframes spin
  to
    transform rotate(1turn)
@keyframes counter-spin
  to
    transform rotate(-1turn)