/*
 * CSS Flower - By Ildar Sagdejev ( http://twitter.com/tknomad )
 */

@import 'nib/vendor'

count = 5
diameter = 120px
icon_size = 80px
distance = 1.2 // 1 = flush
tumbles = 3
swirl = 720deg // 0 = first leaf at the top; goes clockwise
time = 3.2s
spincycle = 45s
colors = #3535e0, red, #08ce18, yellow, #cb56ff

// auto
dAngle = 360 / count
grow = 1 + (2 * distance)

.flower
  width diameter
  height diameter
  border-radius 50%
  cursor pointer
  position relative
  .spinner, .inner, .counterspin
    height 100%
  .spinner
    animation spin spincycle infinite linear
  .counterspin
    animation counter-spin spincycle infinite linear
  .cover
    width diameter
    height diameter
    background-image url(../gfx/cover.jpg)
    background-size 100%
    border-radius 50%
    box-shadow \
      0 0 2px 4px #d1d1d1,
      0 0 20px 4px black
    position absolute
    top 0
  .child
    width diameter
    height diameter
    border-radius 50%
    position absolute
    top 0
    visibility hidden
    .leaf
      height 100%
      color white
      border-radius 50%
      transition transform time ease-in-out
      img
        width icon_size
        height icon_size
        left ((diameter - icon_size) / 2)
        top ((diameter - icon_size) / 2)
        position absolute
    for c, i in colors
      &:nth-child({i+1})
        rot = (dAngle * i - 90)
        transform rotate((rot)deg)
        transition visibility time linear
        .leaf
          background-color c
          background-size 100%
          opacity 0.84
          transition transform time ease-in-out, box-shadow 0.16s ease-in-out
          .glass-holder
            height 100%
            transform rotate(-(rot)deg)
  .glass
    height 100%
    background-image url('../gfx/glass.png')
    background-size 100%
    transition transform time ease-in-out
  &:hover, &.open
    transform scale(grow) // zoom click area
    .inner
      transform scale(1 / grow) // but do not zoom internal elements
    .child
      visibility visible
    .leaf
      // Expand
      transform rotate(swirl) translateX(diameter * distance) rotate((tumbles * 360 + 90)deg)
      &:hover
        box-shadow 0 0 34px rgba(211, 217, 255, 1), 0 0 0 1px black, inset 0 1px 0 rgba(255, 255, 255, 0.2)
      .glass
        // Keep the glass cover stationary
        transform rotate((-1 * (swirl + tumbles * 360 + 90))deg)
@keyframes spin
  to
    transform rotate(1turn)
@keyframes counter-spin
  to
    transform rotate(-1turn)