// Dimensions
flower-item-diameter = 120px
flower-icon-size = 80px
flower-item-orbit-radius = 1.2 // 1 = flush with the cover

// Animation
flower-unfolding-icon-tumbles = 3
flower-unfolding-swirl = 2turn
flower-unfolding-time = 3.2s
flower-revolution-time = 45s

// Configuration
flower-item-count = 5
flower-item-colors = #8a1919, #dce9f6, #2b44cf, #cb56ff, yellow // Arranged clockwise