@font-face {
  font-family: Airstream;
  src: url("../fonts/airstream.woff") format('woff'), url("../fonts/airstream.ttf") format('truetype');
}
@font-face {
  font-family: Oswald;
  src: url("../fonts/oswald.woff") format('woff'), url("../fonts/oswald.otf") format('opentype');
}
body {
  color: #fff;
  background-color: #000;
  background: -webkit-radial-gradient(#000 15%, transparent 16%) 0 0, -webkit-radial-gradient(#000 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background: -moz-radial-gradient(#000 15%, transparent 16%) 0 0, -moz-radial-gradient(#000 15%, transparent 16%) 8px 8px, -moz-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, -moz-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background: -o-radial-gradient(#000 15%, transparent 16%) 0 0, -o-radial-gradient(#000 15%, transparent 16%) 8px 8px, -o-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, -o-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background: -ms-radial-gradient(#000 15%, transparent 16%) 0 0, -ms-radial-gradient(#000 15%, transparent 16%) 8px 8px, -ms-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, -ms-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background: radial-gradient(#000 15%, transparent 16%) 0 0, radial-gradient(#000 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background-color: #251f3b;
  -webkit-background-size: 16px 16px;
  -moz-background-size: 16px 16px;
  background-size: 16px 16px;
  text-align: center;
}
a {
  color: #ff0027;
  outline: 0;
  text-decoration: none;
}
a:hover {
  color: #f9ce26;
}
#content {
  overflow: hidden;
}
h1 {
  font-family: Airstream;
  font-size: 107px;
  text-shadow: 2px 2px 9px #000;
  text-align: center;
  margin: 0;
  margin-top: 9px;
  -webkit-animation: hues 8s infinite linear;
  -moz-animation: hues 8s infinite linear;
  -o-animation: hues 8s infinite linear;
  -ms-animation: hues 8s infinite linear;
  animation: hues 8s infinite linear;
}
#bio {
  font-family: Oswald;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 2px #000;
  max-width: 25em;
  padding: 1em;
  margin-top: 1em;
  display: inline-block;
}
#bio strong {
  color: #faf02d;
}
#bio .term {
  color: #be2cd4;
  cursor: default;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -moz-transition: -moz-transform 1s ease-in-out;
  -o-transition: -o-transform 1s ease-in-out;
  -ms-transition: -ms-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  display: inline-block;
}
#bio .term:hover {
  -webkit-transform: rotateX(1turn);
  -moz-transform: rotateX(1turn);
  -o-transform: rotateX(1turn);
  -ms-transform: rotateX(1turn);
  transform: rotateX(1turn);
}
#view-portfolio {
  font-size: 1.3em;
  letter-spacing: 0.08em;
  text-shadow: 2px 2px 4px #000;
}
#view-portfolio a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#view-portfolio a:hover {
  text-shadow: 2px 2px 7px #000;
}
#disc {
  width: 460px;
  height: 460px;
  border: 1px rgba(41,40,40,0.81) solid;
  background-color: rgba(6,13,23,0.4);
  -webkit-box-shadow: 1px 1px 12px 4px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 12px 4px rgba(0,0,0,0.6);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: top;
  margin: 0.9em auto;
  display: inline-block;
  overflow: visible;
  position: relative;
}
#disc:after {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(255,0,0,0.1);
  background-image: -webkit-linear-gradient(125deg, rgba(255,255,255,0.2) 20%, transparent 25%, transparent 45%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 70%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(125deg, rgba(255,255,255,0.2) 20%, transparent 25%, transparent 45%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 70%, transparent 75%, transparent);
  background-image: -o-linear-gradient(125deg, rgba(255,255,255,0.2) 20%, transparent 25%, transparent 45%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 70%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(125deg, rgba(255,255,255,0.2) 20%, transparent 25%, transparent 45%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 70%, transparent 75%, transparent);
  background-image: linear-gradient(-35deg, rgba(255,255,255,0.2) 20%, transparent 25%, transparent 45%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 70%, transparent 75%, transparent);
  opacity: 0.15;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  filter: alpha(opacity=15);
  pointer-events: none;
  position: absolute;
  left: 0;
  content: '';
}
.flower {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  top: 170px;
  display: inline-block;
}
@-moz-keyframes hues {
  from {
    color: #ff5252;
  }
  50% {
    color: #7d52ff;
  }
  to {
    color: #ff5252;
  }
}
@-webkit-keyframes hues {
  from {
    color: #ff5252;
  }
  50% {
    color: #7d52ff;
  }
  to {
    color: #ff5252;
  }
}
@-o-keyframes hues {
  from {
    color: #ff5252;
  }
  50% {
    color: #7d52ff;
  }
  to {
    color: #ff5252;
  }
}
@keyframes hues {
  from {
    color: #ff5252;
  }
  50% {
    color: #7d52ff;
  }
  to {
    color: #ff5252;
  }
}