@import 'nib/vendor'
@import 'mixins'

@font-face
  // source: http://www.fontsquirrel.com/fonts/airstream
  font-family Airstream
  src url('../fonts/airstream.woff') format('woff'), url('../fonts/airstream.ttf') format('truetype')

@font-face
  // source: http://www.fontsquirrel.com/fonts/oswald
  font-family Oswald
  src url('../fonts/oswald.woff') format('woff'), url('../fonts/oswald.otf') format('opentype')

// Calculations to contain the spinner inside a fixed sized element
// with { overflow: hidden } to prevent page scroll bars from going wild
diameter = 120px // same as in flower.styl
distance = 1.2   // same as in flower.styl
allowance = 52px // allowance for bubbles glowing
span = diameter * (1 + 2 * distance) + allowance

body
  color white
  background-color #440808
  background-image linear-gradient(90deg, black 10%, #450909 90%)
  text-align center
a
  color #ff0027
  outline 0
  text-decoration none
  &:hover
    color #f9ce26
#content
  overflow hidden
h1
  font-family Airstream
  font-size 107px
  text-shadow 2px 2px 9px black
  text-align center
  margin 0
  margin-top 9px
  animation hues 8s infinite linear
#bio
  font-family Oswald
  font-size 1.2em
  letter-spacing 0.05em
  text-shadow 1px 1px 2px black
  max-width 25em
  padding 1em
  margin-top 0.1em
  display inline-block
  strong
    color #faf02d
  .term
    color #be2cd4
    cursor default
    transition transform 1s ease-in-out
    display inline-block
    &:hover
      transform rotateX(1turn)
#view-portfolio
  color #f3ff31
  font-size 1.3em
  letter-spacing 0.08em
  text-shadow 2px 2px 4px black
  max-width 14em
  margin auto
  border-radius: 22px
  background #b25244
  background linear-gradient(#b25244, #5e1912)
  padding 20px
  box-shadow \
    inset 0 2px 3px rgba(255,255,255,0.13), \
    0 5px 8px rgba(0,0,0,0.5), \
    0 10px 10px 4px rgba(0,0,0,0.3)
  display block
  transition all 0.2s ease-in-out
  &:hover
    text-shadow 2px 2px 7px black
#disc
  width span
  height span
  border 1px rgba(41, 40, 40, 0.81) solid
  background-color rgba(6, 13, 23, 0.4)
  box-shadow 1px 1px 12px 4px rgba(0, 0, 0, 0.6)
  border-radius 50%
  vertical-align top
  margin 0.9em auto
  display inline-block
  overflow visible
  position relative
  &:after
    width 100%
    height 100%
    border-radius 50%
    background-color rgba(255,0,0,0.1)
    background-image linear-gradient(-35deg, rgba(255, 255, 255, .2) 20%, transparent 25%, transparent 45%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 70%, transparent 75%, transparent)
    opacity 0.15
    pointer-events none
    position absolute
    left 0
    content ''
.flower
  user-select none
  position relative
  top ((span - diameter) / 2)
  display inline-block
  .cover
    &:hover
      box-shadow \
        0 0 2px 4px #ff1b1b, \
        0 0 20px 4px black

@keyframes hues
  from
    color hsl(0, 100%, 66%)
  50%
    color hsl(255, 100%, 66%)
  to
    color hsl(0, 100%, 66%)