// Dimensions
spinner-cover-diameter = 120px
spinner-item-diameter = spinner-cover-diameter
spinner-icon-size = 80px
spinner-item-orbit-radius = 1.4 // 1 = flush with the cover

// Animation
spinner-unfolding-icon-tumbles = 3
spinner-unfolding-swirl = 2turn
spinner-unfolding-time = 3.2s
spinner-revolution-time = 45s

// Configuration
spinner-item-count = 5
spinner-item-colors = #8a1919, #dce9f6, #2b44cf, #cb56ff, yellow // Arranged clockwise