/*
 * CSS Widget Spinner
 */

@require 'nib/vendor'
@require 'widget-spinner-config'

//
// Glass cover
//

.glass
  background-image radial-gradient(circle closest-side, rgba(38, 38, 38, 0.2), rgba(0, 0, 0, 0.63))
  background-size 100% 100%
  border-radius 50%
  position relative
.glass::before
  position absolute
  width 56%
  height 26%
  top 4%
  left 22%
  border-radius 50%
  background-image linear-gradient(to bottom, rgba(207, 207, 207, 0.23), rgba(30, 30, 30, 0.06))
  content ''
.glass::after
  position absolute
  width 38%
  height 19%
  bottom 3%
  left 31%
  border-radius 50%
  background-image linear-gradient(to bottom, rgba(93, 93, 93, 0.1), rgba(0, 0, 0, 0.18))
  content ''

//
// Interactive spinner
//

.widget-spinner
  width spinner-cover-diameter
  height spinner-cover-diameter
  border-radius 50%
  cursor pointer
  position relative
  .carousel, .inner, .counterspin, .glass-holder
    height 100%
  .carousel
    animation spin spinner-revolution-time infinite linear
  .counterspin
    animation counter-spin spinner-revolution-time infinite linear
  .cover
    width spinner-cover-diameter
    height spinner-cover-diameter
    background-color #666
    background-size 100%
    border-radius 50%
    box-shadow \
      0 0 2px 4px #d1d1d1, \
      0 0 20px 4px black
    position absolute
    top 0
  a
    display block
  .child
    width spinner-item-diameter
    height spinner-item-diameter
    border-radius 50%
    position absolute
    top ((spinner-cover-diameter - spinner-item-diameter) / 2)
    left ((spinner-cover-diameter - spinner-item-diameter) / 2)
    visibility hidden
    .leaf
      height 100%
      color white
      background-size 100%
      border-radius 50%
      opacity 0.94
      transition transform spinner-unfolding-time ease-in-out
      img
        width spinner-icon-size
        height spinner-icon-size
        left ((spinner-item-diameter - spinner-icon-size) / 2)
        top ((spinner-item-diameter - spinner-icon-size) / 2)
        position absolute
        border none
    rot-delta = 360 / spinner-item-count
    for c, i in spinner-item-colors
      &:nth-child({i+1})
        rot = (rot-delta * i - 90)
        transform rotate((rot)deg)
        transition visibility spinner-unfolding-time linear
        .leaf
          background-color c
          transition transform spinner-unfolding-time ease-in-out
          .glass-holder
            transform rotate(-(rot)deg)
  .glass
    height 100%
    transition transform spinner-unfolding-time ease-in-out
  &:hover, &.open
    grow-ratio = 1 + 2 * spinner-item-orbit-radius
    transform scale(grow-ratio) // zoom click area
    .inner
      transform scale(1 / grow-ratio) // but do not zoom internal elements
    .child
      visibility visible
    .leaf
      // Expand
      rot = spinner-unfolding-icon-tumbles * 360 + 90
      transform rotate(spinner-unfolding-swirl) translateX((spinner-item-diameter + spinner-cover-diameter * spinner-item-orbit-radius)/2) rotate((rot)deg)
      &:hover
        box-shadow 0 0 13px #d3d9ff
        &:after
          content attr(data-title)
          color #aebaff
          font 14px Monaco, MonoSpace
          text-shadow 2px 2px 3px black
          width 100%
          height 22px
          left 0
          top -(@height + 1px)
          position absolute
      .glass
        // Keep the glass cover stationary
        transform rotate((-1 * (spinner-unfolding-swirl + rot))deg)
@keyframes spin
  to
    transform rotate(1turn)
@keyframes counter-spin
  to
    transform rotate(-1turn)