doctype html
html(lang='en')
  // By Ildar Sagdejev ( http://twitter.com/tknomad )
  head
    meta(charset='UTF-8')
    title Ildar Sagdejev&colon; Web ninja
    link(rel='stylesheet', href='css/flower.css')
    link(rel='stylesheet', href='css/main.css')
  body
    h1 Ildar Sagdejev
    h2 web ninja
    #flower
      .inner
        .spinner
          .child
            a(href='http://fb.me/tknomad')
              .leaf
                img(src='gfx/icons/fb.png', alt='Facebook')
                .glass-holder
                  .counterspin
                    .glass
          .child
            a(href='http://twitter.com/tknomad')
              .leaf
                img(src='gfx/icons/bird.png', alt='Twitter')
                .glass-holder
                  .counterspin
                    .glass
          .child
            a(href='http://www.flickr.com/photos/the-specious')
              .leaf
                img(src='gfx/icons/camera.png', alt='Photography')
                .glass-holder
                  .counterspin
                    .glass
          .child
            a(href='http://github.com/specious')
              .leaf
                img(src='gfx/icons/octocat.png', alt='GitHub')
                .glass-holder
                  .counterspin
                    .glass
          .child
            a(href='http://www.pandora.com/profile/stations/specious6')
              .leaf
                img(src='gfx/icons/pandora.png', alt='Pandora')
                .glass-holder
                  .counterspin
                    .glass
          .child
            .cover