doctype html

mixin leaf(link, image, title)
  .child
    a.leaf(href=link, data-title=title)
      img(src=image, alt=title)
      .glass-holder
        .counterspin
          .glass

html(lang='en')
  // Ildar Sagdejev ( http://webninja.io ) 
  head
    meta(charset='UTF-8')
    title Ildar Sagdejev: Web ninja
    link(rel='stylesheet', href='css/styles.css')
  body
    #content
      h1 Ildar Sagdejev
      #bio
        p
          | I'm <strong>Ildar Sagdejev</strong>, a full stack web developer with expertise in <span class="term">JavaScript</span>, <span class="term">CSS</span> and <span class="term">WebGL</span>.&nbsp; I strive to create visually stunning experiences.
        p
          | When not working for clients, I enjoy listening to techno music, taking on wild adventures and contributing to open source projects.&nbsp; In the past, I programmed <a href="http://www.palsystem.com/">LC/MS instruments</a> as a software engineer at <a href="http://www.leaptec.com">LEAP Technologies</a>.&nbsp; More recently, I programmed a line of casino games including virtual slot machines, video poker, bingo and keno.
        a#view-portfolio(href="http://hire.webninja.io") Portfolio
      #disc
        .flower
          .inner
            .spinner
              include links
              each link in links
                +leaf(link['url'], link['icon'], link['title'])
            a.cover(href="http://linkedin.com/in/specious")
              img.back(src="gfx/linkedin.svg", alt="LinkedIn")
              img.front(src="gfx/portrait.jpg", alt="")
    script.
      setTimeout( function() {
        document.getElementById('disc').children[0].className += " open"
      } )