doctype html

mixin leaf(link, image, title)
  .child
    a.leaf(href=link, target="_blank")
      img(src=image, alt=title)
      .glass-holder
        .counterspin
          .glass

html(lang='en')
  // By Ildar Sagdejev ( http://twitter.com/tknomad ) 
  head
    meta(charset='UTF-8')
    title Ildar Sagdejev: Web ninja
    link(rel='stylesheet', href='css/flower.css')
    link(rel='stylesheet', href='css/main.css')
  body
    #content
      h1 Ildar Sagdejev
      #bio
        p
          | I'm <strong>Ildar Sagdejev</strong>, a full stack web developer with expertise in <span class="term">JavaScript</span>, <span class="term">CSS</span> and <span class="term">WebGL</span>.&nbsp; I create visually astounding experiences.
        p
          | When not working for clients, I enjoy listening to world music, having adventures and contributing to open source projects.&nbsp; In the past, I programmed LC/MS instruments as a software engineer at <a href="http://www.leaptec.com">LEAP Technologies</a>.&nbsp; More recently, I programmed a line of casino games including virtual slot machines, video poker, bingo and keno.
        p
          | Have a look at my <a href="http://www.tknomad.com">portfolio</a>.
      #disc
        .flower
          .inner
            .spinner
              include links
              each link in links
                +leaf(link['url'], link['icon'], link['title'])
            .cover
    script.
      document.getElementById('disc').children[0].className += " open"