doctype html

mixin leaf(link, image, title)
  .child
    a.leaf(href=link, data-title=title)
      img(src=image, alt=title)
      .glass-holder
        .counterspin
          .glass

html(lang='en')
  // Ildar Sagdejev ( http://twitter.com/tknomad ) 
  head
    meta(charset='UTF-8')
    title Ildar Sagdejev
    link(rel='stylesheet', href='css/styles.css')
  body
    #content
      h1 Ildar Sagdejev
      #bio
        p
          | I'm <span class="name">Ildar Sagdejev</span>, a software developer with strong expertise in web development.
        p
          | I love decomplecting code, learning new technologies which are better than previous technologies and <a href="http://www.pandora.com/station/play/167866705205165786">jamming</a> to <a href="https://github.com/PromyLOPh/pianobar">pianobar</a> while I do it.
        p
          | Click my links to learn more about me.
        a#view-portfolio(href="portfolio/") Freelance portfolio (2008-2014)
      #disc
        .flower
          .inner
            .spinner
              each link in links
                +leaf(link['url'], link['icon'], link['title'])
            a.cover(href="http://linkedin.com/in/specious")
              img.back(src="gfx/linkedin.svg", alt="LinkedIn")
              img.front(src="gfx/portrait.jpg", alt="")
    script.
      setTimeout( function() {
        document.getElementById('disc').children[0].className += " open"
      } )