doctype html

mixin leaf(link, image, title)
  .child
    a.leaf(href=link, data-title=title)
      img(src='gfx/icons/' + image, alt=title)
      .glass-holder
        .counterspin
          .glass

html(lang='en')
  // Ildar Sagdejev ( https://git.io/specious ) 
  head
    meta(charset='UTF-8')
    title Ildar Sagdejev
    link(rel='stylesheet', href='css/style.css')
  body
    #content
      h1 Ildar Sagdejev
      #bio
        p
          | Hello. I'm <span class="name">Ildar Sagdejev</span>. I write open source software so you can poke at the code.
        p
          | You can reach me at → <a href="mailto:specious@gmail.com">specious at gmail dot com</a>
        p
          | Explore my links wheel to learn more about what I do.
        img.qr(src="gfx/qr-code.png", alt="QR")
      #disc
        .widget-spinner
          .inner
            .carousel
              each link in links
                +leaf(link['url'], link['icon'], link['title'])
            a.cover(href="http://linkedin.com/in/specious")
              img.back(src="gfx/linkedin.svg", alt="LinkedIn")
              img.front(src="gfx/portrait.jpg", alt="")
    script.
      setTimeout( function() {
        document.getElementById('disc').children[0].className += " open"
      } )