doctype html

mixin leaf(link, image, title)
  .child
    a.leaf(href=link, data-title=title)
      img(src='gfx/icons/' + image, alt=title)
      .glass-holder
        .counterspin
          .glass

html(lang='en')
  // Ildar Sagdejev ( http://twitter.com/tknomad ) 
  head
    meta(charset='UTF-8')
    title Ildar Sagdejev
    link(rel='stylesheet', href='css/styles.css')
  body
    #content
      h1 Ildar Sagdejev
      #bio
        p
          | Hello. I'm <span class="name">Ildar Sagdejev</span>. I love creating software products.
        p
          | I've got substantial experience in writing code and thinking in <a href="http://youtu.be/DqMFX91ToLw">new paradigms</a>. I'm often <a href="http://www.pandora.com/station/play/167866705205165786">jamming</a> to <a href="https://github.com/PromyLOPh/pianobar">pianobar</a> while I work.
        p
          | Explore my links to learn more about me.
        img.qr(src="gfx/qr-code.png", alt="QR")
      #disc
        .flower
          .inner
            .spinner
              each link in links
                +leaf(link['url'], link['icon'], link['title'])
            a.cover(href="http://linkedin.com/in/specious")
              img.back(src="gfx/linkedin.svg", alt="LinkedIn")
              img.front(src="gfx/portrait.jpg", alt="")
    script.
      setTimeout( function() {
        document.getElementById('disc').children[0].className += " open"
      } )