doctype html

mixin leaf(link, image, title)
  .child
    a(href=link)
      .leaf
        img(src='gfx/icons/' + image + '.png', alt=title)
        .glass-holder
          .counterspin
            .glass

html(lang='en')
  // By Ildar Sagdejev ( http://twitter.com/tknomad )
  head
    meta(charset='UTF-8')
    title Ildar Sagdejev: Web ninja
    link(rel='stylesheet', href='css/flower.css')
    link(rel='stylesheet', href='css/main.css')
  body
    h1 Ildar Sagdejev
    h2 web ninja
    #flower
      .inner
        .spinner
          +leaf('http://fb.me/tknomad', 'fb', 'Facebook')
          +leaf('http://twitter.com/tknomad', 'bird', 'Twitter')
          +leaf('http://www.flickr.com/photos/the-specious', 'camera', 'Photography')
          +leaf('http://github.com/specious', 'octocat', 'GitHub')
          +leaf('http://www.pandora.com/profile/stations/specious6', 'pandora', 'Pandora')
          .child
            .cover