doctype html

mixin leaf(link, image, title)
  .child
    a.leaf(href=link, data-title=title)
      img(src=image, alt=title)
      .glass-holder
        .counterspin
          .glass

html(lang='en')
  // Ildar Sagdejev ( http://twitter.com/tknomad ) 
  head
    meta(charset='UTF-8')
    title Ildar Sagdejev
    link(rel='stylesheet', href='css/styles.css')
  body
    #content
      h1 Ildar Sagdejev
      #bio
        p
          | I'm <strong>Ildar Sagdejev</strong>, a full stack web developer with strong expertise in <span class="term">JavaScript</span>.
        p
          | When not building software for clients, I enjoy listening to music, taking on wild adventures and contributing to <a href="http://github.com/specious">open source projects</a>.&nbsp; In the past, I have written a development environment for programming <a href="http://www.palsystem.com/">liquid handling autosamplers</a> at <a href="http://www.leaptec.com">LEAP Technologies</a>.&nbsp; More recently, I co-wrote the original engine that powers a line of casino games which include slot machines, video poker, bingo and keno produced by <a href="http://grovergaming.com/">Grover Gaming</a>.
        a#view-portfolio(href="portfolio/") See my portfolio...
      #disc
        .flower
          .inner
            .spinner
              each link in links
                +leaf(link['url'], link['icon'], link['title'])
            a.cover(href="http://linkedin.com/in/specious")
              img.back(src="gfx/linkedin.svg", alt="LinkedIn")
              img.front(src="gfx/portrait.jpg", alt="")
    script.
      setTimeout( function() {
        document.getElementById('disc').children[0].className += " open"
      } )