//-
//- Multi-line support would be nice: https://github.com/visionmedia/jade/issues/502
//-
- var links = [ {url: 'http://twitter.com/tknomad', icon: 'bird.svg', title: 'Twitter'}, {url: 'http://fb.me/tknomad', icon: 'fb.svg', title: 'Facebook'}, {url: 'http://www.flickr.com/photos/the-specious', icon: 'photos.svg', title: 'Photography'}, {url: 'http://codepen.io/tknomad', icon: 'codepen.svg', title: 'CodePen'}, {url: 'http://github.com/specious', icon: 'octocat.svg', title: 'GitHub'} ]